apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-demo
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-demo
  template:
    metadata:
      labels:
        app: devops-demo
    spec:
      containers:
        - name: web
          image: thienphu13/devops-demo:latest
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: devops-demo
  namespace: devops
spec:
  type: NodePort
  selector:
    app: devops-demo
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      nodePort: 30080

